/* The following colour values are being used:
 *   - Pager elements: #18bc9c
 *   - Blog navigation background: #ecf0f1
 */

body > section > section {
	display: grid;
	grid-template:
		"nav breadcrumbs" minmax(0px, auto)
		"nav main" auto / 15em auto;
	grid-gap: 0em 1em;
	margin-bottom: 1em;
}


/* ---[ Blog navigation ]--------------------------------------------------- */
nav.blog-navigation {
	grid-area: nav;
	padding: 19px;
	background-color: #ecf0f1;
	border-radius: 4px;
}

nav.blog-navigation > aside > span { font-weight: bold; }

nav.blog-navigation > nav > h1 { font-size: 1.5em; }

nav.blog-navigation > nav > ul {
	list-style: none;
	padding-left: 0.5em;
}
/* ------------------------------------------------------------------------- */


/* ---[ Blog breadcrumbs ]-------------------------------------------------- */
nav.breadcrumbs > ol {
	margin-bottom: 0;
	padding: 0.5em 1em;
	list-style: none;
	background-color: #ecf0f1;
	border-radius: 0.3em;
	grid-area: breadcrumbs;
}

nav.breadcrumbs > ol > li {
	display: inline-block;
	color: #95a5a6;
}
nav.breadcrumbs > ol > li:after {
	content: "\00a0/\00a0";
	padding: 0 0.25em;
	color: #cccccc;
}

nav.breadcrumbs > ol > li > a { text-decoration: none; }
nav.breadcrumbs > ol > li > a:hover { text-decoration: underline; }
/* ------------------------------------------------------------------------- */


/* ---[ Main blog area ]---------------------------------------------------- */
main { grid-area: main; }

main.blogpost-listing > ul {
	list-style: none;
	padding: 0;
}
/* ------------------------------------------------------------------------- */


/* ---[ Pager (previous & next post) ]-------------------------------------- */
footer.blog-pager > nav {  /* The class should be renamed after removing Bootstrap */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

footer.blog-pager > nav > a {
	color: #fff;
	text-decoration: none;
	background-color: #18bc9c;
	padding: 0.25em 1em;
	border-radius: 2em;
	text-align: center;
}
footer.blog-pager > nav > a:last-child { margin-left: auto; }
footer.blog-pager > nav > a:focus { background-color: #0f7864; }
footer.blog-pager > nav > a:hover { background-color: #0f7864; }
footer.blog-pager > nav > a[hidden] { display: none; }
/* ------------------------------------------------------------------------- */


/* ---[ Limit the width of elements in the post ]--------------------------- */
/* Making it the only child ensures we don't also affect images that flow with
 * some text */
main > article > p > img:only-child , main > article > p > a:only-child > img:only-child {
	max-width: 90%;  /* Limit width */
	height: auto;

	display:block;  /* center the image */
	margin-left: auto;
	margin-right: auto;
}
/* ------------------------------------------------------------------------- */


/* For small displays we need some adjustments. The navigator and the articles
 * next to each other are too wide, so we change the layout to vertical. We
 * also move the navigator beneath the articles. The navigator itself has all
 * the lists hidden because they would take up too much vertical space. Instead
 * we leave only the headings, the user can click those to get taken to the
 * archives directly. */
@media(max-width: 768px) {
	/* Re-arrange the articles and navigator vertically */
	body > section > section {
		grid-template:
			"breadcrumbs"
			"main"
			"nav" / auto;
	}

	main { margin-bottom: 1em; }

	nav.blog-navigation {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	nav.blog-navigation > aside { flex-basis: 100%; }
	/* Hide the navigator lists, they are too large */
	nav.blog-navigation > nav > ul { display: none; }
}
